@media only screen and (min-width: 993px){
    ul.stepper.horizontal:first-child{
        margin-top: -2.7rem;
    }

    ul.stepper.horizontal{
        position: relative;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 20rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        overflow: hidden;
    }

    ul.stepper.horizontal:before{
        content: '';
        background-color: transparent;
        widows: 100%;
        min-height: 5.25rem;
        position: absolute;
        left: -3px;
        border-top-left-radius: 2px;
    }

    ul.stepper.horizontal .step{
        position: static;
        margin: 0;
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 5.25rem!important;
    }

    ul.stepper.horizontal .step-title{
        line-height: 5.25rem;
        height: 5.25rem;
        margin: 0;
        padding: 0 1.5625rem 0 4.0625rem;
        display: inline-block;
        max-width: 13.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }
}

ul.stepper{
    padding: 1.5rem;
    margin: 1em -1.5rem;
    counter-reset: section;
}

ul.stepper .step:not(:last-of-type).active{
    margin-bottom: 2.25rem;
}

ul.stepper>li:not(:last-of-type){
    transition: margin-bottom 0.4s;
}

ul.stepper .step{
    list-style: none
}

ul.stepper .step.active .step-title{
    font-weight: 500;
}

ul.stepper .step-title{
    cursor: pointer;
}


